<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <!-- blog başlığı-->
      <h1 class="mb-4">Blog Articles</h1>

      <!-- yeni blog yazısı oluşturma-->
      <a href="/articles/new" class="btn btn-success">New Article</a>

      <!-- blog yazılarını gösteriyoruz-->
      <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <a href="articles/<%= article.slug %>" style="color: black;"><h4 class="card-title"><%= article.title %></h4></a>
          <div class="card-subtitle text-muted mb-2">
            <!-- yazıların tarihlerini local tarih string'ine çevirip gösteriyoruz -->
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
